@use "@/styles/base/variables" as *;

.wrap {
  display: flex;
  flex-direction: column;
  width: fit-content;

  :global(video) {
    border-radius: 20px;
  }

  .hint {
    margin: 10px 0;
    color: $point-red;
  }

  .operateBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    gap: 3%;

    button {
      padding: 2vw 6vw;
      border-radius: 5px;
    }

    .reset {
      border: 2px solid $medium-gray;
    }

    .shutter,
    .submit {
      background-color: $medium-gray;
      color: $main-white;
      font-size: $regular-size;
    }

    .close {
      padding: 2vw 3vw;
      border-radius: 5px;
      background-color: $light-gray;
    }
  }
}

.enable {
  padding: 5vw;
  border-radius: 10px;
  background-color: $light-gray;
  font-size: $regular-size;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: $medium-gray;
    color: $main-white;
  }

  &:active {
    transform: scale(0.95);
  }
}
