@use "variables";
@use "mixin";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

// 全局基礎樣式
body {
  background-color: variables.$background-gray;
  color: variables.$main-black;
}

* {
  font-family: "Noto Sans TC", sans-serif !important;
}

p {
  font-size: variables.$regular-size;
  color: variables.$main-black;

  @include mixin.X-Small {
    font-size: variables.$small-size;
  }
}

a {
  text-decoration: none;
  font-size: variables.$regular-size;
}

button {
  background: none;
  border: none;
  outline: none;
  transition: ease-in-out 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}
