// color
$background-gray: #f8f8f8;
$main-white: #fff;
$light-gray: #d9d9d9;
$medium-gray: #8b8b8b;
$main-black: #3f3f3f;
$point-red: #d47272;

// font-size
$x-small-size: 10px;
$small-size: 12px;
$regular-size: 16px;
$large-size: 20px;
