@use "@/styles/base/variables" as *;

.authWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1vh;

  .loginFrame {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    .forget {
      font-size: $small-size;
      color: $medium-gray;
      margin-left: 5vw;
    }
  }

  .option {
    display: flex;
    gap: 3rem;

    .focusItem,
    .item {
      font-size: $large-size;
      font-weight: bold;
      padding: 15 20px;
      position: relative;
      color: $light-gray;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $light-gray;
        border-radius: 5px;
      }
    }

    .focusItem {
      color: $main-black;

      &::after {
        background-color: $main-black;
      }
    }
  }

  .click {
    background: none;
    outline: none;
    border: none;
    font-size: $regular-size;
    background-color: $medium-gray;
    color: $main-white;
    padding: 1vh 9vw;
    border-radius: 50px;
    margin-left: auto;
  }
}
